.navBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 30px;
    position: relative;
}
@media (max-width:480px) {
    .navBarContainer {
        flex-direction: column;
    }
}
.logoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoImg {
    width: 70px;
}
.logoText {
    margin-left: 15px;
    font-size: 28px;
    cursor: pointer;
    color:white;
}
@media (max-width:767px) {
    .logo {
        margin-bottom: 20px;
    }
}
.nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
}

.links {
    text-decoration: none;
    padding:10px 20px;
    text-transform: uppercase;
    color:white;
    transition:.4s
}

.nav :global(.active),
.links:hover:not(.logo) {
    background-color:#4caf50;
    color:white;

}